{% extends "layout.html" %}
{% block content %}
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse  g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{{ url_for('photo', id_photo=utilisateur[7]) }}"
                     class="d-block mx-lg-auto utilisateur-photo-article img-fluid"
                     alt="Bootstrap Themes" loading="lazy">
                <h5 style="text-align: center">{{ utilisateur[1] }} {{ utilisateur[2] }}</h5>
            </div>
            <div class="col-lg-4">
                <h4>{{ article[2] }}</h4>
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{ article[1] }}</h1>
                <p class="lead">{{ article[3]|safe }}</p>
                {% if session.get('id') %}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <button type="button"
                                class="btn btn-primary px-4 me-md-2"
                                onclick="afficherFormulaire()">Modifier
                        </button>
                        <form action="{{ url_for('supprimer_article', identifiant=article[0]) }}"
                              method="POST">
                            <button type="submit"
                                    class="btn btn-danger px-4 me-md-2 ">
                                Supprimer
                            </button>
                        </form>
                    </div>

                    <div id="formModification"
                         class="{{ 'd-none' if not erreur }}">
                        {% if erreur %}
                            <div id="erreur" class="alert alert-danger my-2"
                                 role="alert">{{ erreur }}</div>
                        {% endif %}
                        <form action="{{ url_for('modifier_article', identifiant=article[0]) }}"
                              method="POST">
                            <button type="submit" class="btn btn-success my-3">
                                Enregistrer les modifications
                            </button>
                            <div class="mb-3">
                                <label for="nouveauTitre" class="form-label">Nouveau
                                    titre :</label>
                                <input type="text" class="form-control"
                                       id="nouveauTitre" name="nouveau_titre"
                                       value="{{ article[1] }}">
                            </div>
                            <div class="mb-3">
                                <label for="nouveauContenu" class="form-label">Nouveau
                                    contenu :</label>
                                <textarea class="form-control"
                                          id="nouveauContenu" rows="15"
                                          name="nouveau_contenu">{{ article[3] }}</textarea>
                            </div>
                            <input type="hidden" name="id_article"
                                   value="{{ article[2] }}">
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        function afficherFormulaire() {
            var formulaire = document.getElementById('formModification');
            formulaire.classList.toggle('d-none');
        }

    </script>
{% endblock %}
