{% extends "layout.html" %}
{% block content %}
    <div class="px-4 pt-5 my-5 text-center">
        {% if prenom is not none and nom is not none %}
            <h1 class="display-4 fw-bold text-body-emphasis">Bienvenue {{ prenom }} {{ nom }}</h1>
            <p class="lead mb-4">Votre Contenu, Votre Style, Votre Voix</p>
            <a href="/deconnexion">
                <button type="deconnexion" class="btn btn-outline-secondary btn-lg px-4">Se déconnecter</button>
            </a>
        {% else %}
            <h1 class="display-4 fw-bold text-body-emphasis">Bienvenue</h1>
            <p class="lead mb-4">Votre Contenu, Votre Style, Votre Voix</p>
            <div class="container" style="max-width: 20%; text-align: center;">
                <a href="/connexion">
                    <button name="submit" class="btn btn-primary w-100 py-2 my-3">Se connecter
                    </button>
                </a>
            </div>

        {% endif %}
        <div class="col-lg-6 mx-auto">

            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <a href="{{ url_for('inscription') }}">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">
                        S'inscrire
                    </button>
                </a>
            </div>
        </div>
        <div class="overflow-hidden" style="max-height: 60vh; overflow-y: auto;">
            {% for article in articles %}
                {% for utilisateur in utilisateurs %}
                    {#            <div class="container px-5">#}
                    {#                <img src="/img/files-1614223_1920.jpg" class="img-fluid border rounded-3 shadow-lg mb-4"#}
                    {#                     alt="Example image" width="700" height="500" loading="lazy">#}
                    {#            </div>#}
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <h6 class="card-title">{{ article[2] }}</h6>
                        <p class="card-text">{{ utilisateur[1] }} {{ utilisateur[2] }}</p>
                        <div class="card-body">
                            <h5 class="card-title">{{ article[1] }}</h5>

                            <p class="card-text">{{ article[3] }}</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}