{% extends "layout.html" %}
{% block content %}
    <div class="px-4 pt-5 my-5 text-center">
        {% if prenom is not none and nom is not none %}
            <h1 class="display-4 fw-bold text-body-emphasis">Bienvenue {{ prenom }} {{ nom }}</h1>
            <p class="lead mb-4">Votre Contenu, Votre Style, Votre Voix</p>
            <a href="/deconnexion">
                <button type="deconnexion" class="btn btn-outline-secondary btn-lg px-4">Se déconnecter</button>
            </a>
        {% else %}
            <h1 class="display-4 fw-bold text-body-emphasis">Bienvenue</h1>
            <p class="lead mb-4">Votre Contenu, Votre Style, Votre Voix</p>
            <div class="container" style="max-width: 20%; text-align: center;">
                <a href="/connexion">
                    <button name="submit" class="btn btn-primary w-100 py-2 my-3">Se connecter
                    </button>
                </a>
            </div>

        {% endif %}

        <h3 class="display-6 my-5">Voici les 5 derniers articles</h3>
        <div class="overflow-hidden" style="overflow-y: auto;">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-5 justify-content-left">
                {% for article in articles %}
                    {% set index = loop.index0 %}
                    <div class="col">
                        <div class="card mb-4">
                            <div class="mx-3" style="align-self: start">
                                <img class="card-img-top custom-thumbnail pt-3"
                                     src="{{ url_for('photo', id_photo=utilisateurs[index][7]) }}" alt="Card image cap"
                                     style="max-height: 120px;">
                            </div>
                            <div class="card-body" style="text-align: left">
                                <h5 class="card-title">{{ article[2] }}
                                </h5>
                                <p class="card-text">{{ utilisateurs[index][1] }} {{ utilisateurs[index][2] }}</p>
                                <h6 class="card-subtitle mb-2 text-muted"><a
                                        href="{{ url_for('article', identifiant=article[0]) }}">{{ article[1] }}</a>
                                </h6>
                                <p class="card-text text-start">{{ article[3] }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>


    </div>
{% endblock %}