{% extends "layout.html" %}
{% block content %}
    <div class="container">
        {% if query %}
            <h1>Résultats de la recherche pour "{{ query }}"</h1>
        {% else %}
            <h1>Tous les articles</h1>
        {% endif %}
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
            {% for article in articles %}
                <div class="col mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <a href="{{ url_for('article', identifiant=article[0]) }}" class="card-link">
                                <h5 class="card-title">{{ article[1] }}</h5>
                            </a>
                            <h6 class="card-subtitle mb-2 text-muted">{{ article[2] }}</h6>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
