{% extends "layout.html" %}
{% block content %}
    <div class="container">
        {% if query %}
            <h1>Résultats de la recherche pour "{{ query }}"</h1>
        {% else %}
            <h1>Tous les articles</h1>
        {% endif %}
        <div>
            {% if articles %}
                <ul>
                    {% for article in articles %}
                        <li><a href="{{ url_for('article', identifiant=article[0]) }}">{{ article[1] }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Aucun résultat trouvé.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}